@use '../../styles/vars';

.form{
  height:84vh;
  .input-error,
  select.input-error {
    border-width: 2px;
    border-color: red;
  }

  .input-valid {
    border-color: initial;
  }
  
  .login__error {
    color: red;
    font-size: 1rem;
    padding-top: 0.2rem;
    font-weight: 500;
    height:1.2rem;
  }
}
.redirect{
  &:hover{
    color:red;
    transition: 0.3s linear; 
  }
}

@media only screen and (max-width: 770px) {
    .form{
      .login__error {
      color: red;
      font-size: 1rem;
      font-weight: 400;
      width:20rem;
      background-color: vars.$pageBlue;
    }
  }
  
}
