@use '../../styles/vars';
.articles{
  display: flex;
  min-height:84vh;
  flex-direction: column;
  padding-bottom: 3rem;
  background-color: #DAFBF1;
  &__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    &-research{
      border: 3px solid vars.$secondColor;
      font-size: 1.5rem;
      border-radius: 1.5rem;
      height:3rem;
      padding:1rem;
      width:30rem;
    }
  }
  &__container{
    width: 100%;
    padding:3rem 4rem;
    justify-content: center;
    &-header{
      display: flex;
      justify-content: space-between;
    }
  }
  &__title{
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    display: inline;
  }
  &__card-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    align-self: center;
    padding-top: 5rem;
  }
  &__sort-select{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 0 1rem 0 0;
    & Label{
      font-weight: 500;
      font-size: 0.8rem;
    }
    & select{
      border: 3px solid vars.$secondColor;
      height:1.5rem;
      border-radius: 1rem;
      color:#666;
      margin-top: 0.5rem;
    }
  }
}