.articles{
  display: flex;
  min-height:84vh;
  flex-direction: column;
  padding-bottom: 3rem;
  background-color: #DAFBF1;

  &__container{
    width: 100%;
    display: grid;
    flex-direction: column;
    justify-content: center;
    
  }
  &__title {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    padding: 3rem 0;
  }
  &__card-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-self: center;
    padding-top: 2rem;
  }
}