@use "../../../styles/vars";

.header {
  display: flex;
  background-color: vars.$mainColor;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;

  &__logo {
    font-size: 2rem;
    color: white;
    padding: 1rem 3rem;

    &:hover {
      color: white;
    }
  }

  &__nav {
    &--item {
      font-size: 1rem;
      padding: 1.7rem 3rem;
      font-weight: 500;
      transition: 0.5s linear;
      text-transform: uppercase;
      color: white;
      border-radius: 7px;

      &:hover {
        color: white;
        background-color: vars.$secondColor;
        transition: 0.5s linear;
      }
    }
  }
}
  .dropdown{
    display: inline;
    .btn-primary{
      background-color: vars.$mainColor!important;
      border:none;
      font-weight: 500;
      font-size: 1rem;
      padding: 1.4em 3em;
      font-weight: 500;
      transition: 0.5s linear;
      text-transform: uppercase;
      color: white;
      &:hover{
        background-color: vars.$secondColor!important;
      }
    }
  }
  
  .dropdown-item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    &:hover{
      background-color: vars.$secondColor;
    }
  }
  
