$mainColor: #1A181B;
$secondColor: #003F91;
$thirdColor: #ACEDFF;
$secondYellow: #ffb400;
$mainRed: #c13530;
$secondRed: #d83a37;
$headerBlue: #45cafc;
$pageBlue: #cdf2ff;
$mainBlue: #234b78;

$font-color: black;

$font-family: 'Ubuntu', sans-serif;
