$mainGreen: #0cad93;
$secondGreen: #0ac3a7;
$mainYellow: #e3a000;
$secondYellow: #ffb400;
$mainRed: #c13530;
$secondRed: #d83a37;
$headerBlue: #45cafc;
$pageBlue: #cdf2ff;
$mainBlue: #234b78;

$font-color: #fffdd8;

$font-family: 'Brandon Grotesque';
