@use '../../../styles/vars';

.footer {
  background-color: vars.$mainColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 10rem;
  color: white;
  font-weight: 400;
  height:8.5vh;
  &__contact{
    display: flex;
    justify-content: center;
    align-items: center;

    &-title{
      padding-right: 2rem;
    }
  }
  &__icon{
    height:2rem;
  }
  &__links{
    display: flex;
    flex-direction: column;

    &-item{
      padding:0.2rem;
    }
  }
}
