@use '../../styles/vars';

.profile{
  background-color: vars.$pageBlue;
  color: vars.$mainBlue;
  display: flex;
  letter-spacing: 0.1rem;
  &__leftside{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$headerBlue;
    color:vars.$font-color;
    margin:2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
  &__name, &__promoname{
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
  }
  &__promoname{
    margin-bottom: 2rem;
  }
  &__picture{
    width: 6rem;
    padding: 2rem 0;
    margin: 2rem;
  }
  &__settings, &__orders{
    border-bottom: 1px solid vars.$font-color;
    margin: 1.5rem 3rem 0.5rem 3rem;
    transition:0.2s;
    font-weight: 600;

    &:hover{
      border-bottom: 1px solid white;
      color:white;
      transition: 0.2s;
    }
  }
  &__rightside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  &__title{
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 600;
  }
  &__lastOrder{
    width:30rem;
    height:8rem;
    margin: 2.5rem 0;
    border: 2px solid vars.$mainBlue;
    text-align: center;
    box-shadow: 3px 3px 4px black;

    &--title{
      padding: 0.5rem;
      font-size: 1.5rem;
    }
    &--message{
      color: grey;
    }
  }

  &__faq, &__contact{
    margin:1.5rem 0;

    &--title{
      font-size: 2.3rem;
      text-align: center;
      padding-bottom: 1rem;
    }
    &_items{
      display: flex;
      justify-content: space-between;
    }
    &--item{
      margin:5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1.5rem;
      & #phone{
        scale:0.7;
      }
      & img{
        width:3rem;
      }
      &--title{
        font-size: 2rem;
      }
    }

  }
}
#infos, #settings{
  display: flex;
  flex-direction: column;
  align-items: center;
}

// CSS de la modal de modification du profil
.modal{
  line-height: 1.5rem;
  background-color: vars.$pageBlue;
  border: 2px solid vars.$mainBlue;
  font-weight: 600;
  &__header{
    background-color: vars.$headerBlue;
    color: vars.$mainBlue;
  }
  &__body{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  background-color: vars.$pageBlue;
  color:vars.$mainBlue;
  line-height: 1.3rem;
  padding:1.5rem;
  }
  &__footer{
    background-color: vars.$headerBlue;
    color: vars.$font-color;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  &__button{
    font-size: 1.3rem;
    margin-top: 3rem;
    background: vars.$mainBlue;
    color: vars.$font-color;
    transition: 0.1s;
    letter-spacing: 0.2rem;
    color:vars.$font-color;
    padding: 0.5rem;
    &:hover {
      transition: 0.3s;
      scale: 1.1;
      box-shadow: 2px 3px 4px black;
    }
  }
  &__label{
  font-size: 1.4rem;
  }
  &__part{
    display: flex;
    justify-content: space-between;
  padding: 0.3rem;
  }
}
#button__delete{
  background-color: vars.$mainRed;
}

// RESPONSIVE \\

@media only screen and (max-width: 1450px){
  .profile{

    &__leftside{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width:33%;
    }
    &__promoname{
      margin-bottom: 0;
    }
    &__settings, &__orders{
      margin:0;
    }
    
      &__faq, &__contact{
        margin:1rem 0;
    
        &--title{
          font-size: 2rem;
          text-align: center;
        }
        &_items{
          display: flex;
          justify-content: space-between;
        }
        &--item{
          margin:1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          & #phone{
            scale:0.7;
          }
          & img{
            width:1.8rem;
          }
          &--title{
            font-size: 1.3rem;
          }
        }
    
      }
  }
}

@media only screen and (max-width: 950px){
  .profile{
    display: flex;
    &__leftside{
      width:25%;
      margin:2rem;
      padding: 1rem;
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}
@media only screen and (max-width: 800px){
  .profile{
    display: flex;
    flex-direction: column;

    &__leftside{
      width:100%;
      margin:1rem auto;
      display: flex;
    }
    &__faq, &__contact{
      margin:0.5rem 0;
  
      &--title{
        font-size: 1.8rem;
        text-align: center;
      }
      &_items{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &--item{
        margin:1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        & img{
          width:2rem;
        }
        &--title{
          font-size: 1.3rem;
        }
      }
  
    }
    &__lastOrder{
      width:15rem;
      height:8rem;
      margin: 3rem 0;
      border: 1px solid vars.$mainGreen;
      padding: 0 2rem 2rem 2rem;
      text-align: center;
      box-shadow: 1px 1px 1px black;
    }
    &__settings, &__orders{
      font-size: 1.3rem;
      margin:1rem 0;
    }
  }
}
